<nav class="navbar navbar-dark navbar-expand-md" style="background-color: #179498;";">
  <a class="navbar-brand" href="{{url_for('main.index')}}" style="color: black">
    <img src="{{ url_for('static', filename='url.svg' )}}" style="width: 35px; height: 35px;">
    {{ config["APP_NAME"]}}
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('main.index')}}">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('main.dashboard')}}">Dashboard</a>
            <a class="dropdown-item" href="#">Profile</a>
          </div>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.login') }}">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.register') }}">Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </div>
</nav>