{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 m-lg-8">
  {% if not urls|length :%}
    <p>Create new link <a href="/">now</a>.</p>
  {% endif %}
  <div class="row" id="copy-listener">
  {% for url in urls %}
    <div class="mb-3 col-sm col-md-6 col-lg-4">
      <div class="card text-left">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Full link: <a href="{{url.full}}">{{ url.full }}</a></li>
          <li class="list-group-item">Clicks: {{ url.visits|length }}</li>
          <li class="list-group-item">Created At: {{ moment(url.create_at).format("lll") }}</li>
        </ul>
        <div class="card-footer">
          <a href="{{ url_for('main.result', short=url.short) }}" class="card-link">Details</a>
          <a href="{{ url_for('main.redirect_to_full', shortID=url.short) }}" class="card-link card-copy" id="{{url.short}}">
            Copy short link
          </a>
          <span class="balloon ml-1" id="balloon" style="visibility: hidden;">
            <span class="badge badge-light">URL Copied</span>
          </span>          
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block script %}
  {{ moment.include_moment() }}

  <script>
  (() => {

    const shortBaseURL = `{{ url_for('main.redirect_to_full', _external=True)|safe }}`

    document.getElementById('copy-listener').addEventListener('click', e => {
      if (!e.target.className.includes('card-copy')) return
      e.preventDefault()
      const fullUrl = `${shortBaseURL}${e.target.id}`
      updateClipboard(fullUrl)
      flashVisibility(`[id='${e.target.id}']~#balloon`)
    })

    function updateClipboard(newClip) {
      navigator.clipboard.writeText(newClip)
    }

    function flashVisibility(elementSelector, durationInMs=2500) {
      /* set tag visible and hidden after 2.5s*/
      const elem = document.querySelector(elementSelector)
      elem.style.visibility = "visible"
      setTimeout(() => {
        elem.style.visibility = "hidden"
      }, durationInMs)
    }
  })()
  </script>
{% endblock %}