{% extends "base.html" %}

{% block content %}
<div class="container p-4">
  <h1>Sign In</h1>
  <form class="form-control border-0" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label }}<br>
      {{ form.username(size=32, class="form-control") }}<br>
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.password.label }}<br>
      {{ form.password(size=32, class="form-control") }}<br>
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
      <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
      <p>{{ form.submit(class="btn btn-primary") }}</p>
  </form>
  <p>
    Forgot Your Password?
    <a href="{{ url_for('main.reset_password_request') }}">Click to Reset It</a>
  </p>
  <p>New User? <a href="{{ url_for('main.register') }}">Click to Register!</a></p>
</div>
{% endblock %}