{% extends "base.html" %}

{% block content %}
  <div class="container border mt-5 p-4 text-center">
    <h3>Your shortened URL</h3>
    <small>Copy the shortened link and share it in messages, texts, posts, websites and other locations.</small>
    <form class="m-lg-4">
      <div class="form-group align-bottom">
        <input 
          id="shortUrl" 
          size="{{ [url_for('main.redirect_to_full', shortID = url.short, _external=True)|length - 5, 30]|min }}"
          value="{{ url_for('main.redirect_to_full', shortID = url.short, _external=True) }}">
      </div>
      <button id="copy" class="btn btn-sm btn-primary" value="Copy shortened url">Copy URL</button>
      <div class="balloon align-top" id="balloon" style="visibility: hidden;">
        <span class="badge badge-light">URL Copied</span>
      </div>
    </form>
    <div class="m-2 text-center">
      Long URL: <a href="{{ url.full }}">{{ url.full }}</a>
    </div>
  </div>
  <div class="row text-center justify-content-md-center">
    <div class="col-5">
      <canvas id="browser" class="chart"></canvas>
    </div>
    <div class="col-5">
      <canvas id="platform" class="chart"></canvas>
    </div>
  </div>
  <div class="container">
    <div id="map" class="map">
      <div id="popup"></div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    (() => {
      const copyBtn = document.getElementById("copy")
      copyBtn.addEventListener("click", e => {
        e.preventDefault()
        copyText("#shortUrl")
        flashVisibility("#balloon")
      })

      function copyText(elementSelector) {
        const copyText = document.querySelector(elementSelector)
        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/
        /* Copy the text inside the text field */
        document.execCommand("copy");
      }

      function flashVisibility(elementSelector, durationInMs=2500) {
        /* set tag visible and hidden after 2.5s*/
        const elem = document.querySelector(elementSelector)
        elem.style.visibility = "visible"
        setTimeout(() => {
          elem.style.visibility = "hidden"
        }, durationInMs)
      }
    })()
    </script>

    <script>
      // list of visits return from database in flask which is
      // consumed in _map and _chart
      window.urlVisits = {{ visits|safe }}
    </script>
    {% include "_map.html" %}
    {% include "_chart.html" %}

{% endblock%}